* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
}

body {
 /* background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);*/
 background-image:url(Maratona.png) ;
 font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
 

}

body, button, input {
  font-family: 'DM Sans', sans-serif;
}

button {
  font-weight: bold;
  color: white;
  background: #7879F1;
  border-radius: 0rem .4rem .4rem 0rem;
  cursor: pointer;

  transition:background .3s;
}
button:hover {
  background-color: #6565c9;
}

.hide {
  display: none;
}

main {
  margin: 0 auto;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: -1.2rem;
  text-align: center;

}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  color: #34355B;

}

form {
  margin-top: 4.8rem;

  display: flex;
  justify-content: center;
}

p {
  color: #34355B;
  opacity: 0.8;
  /* color: rgba(52, 53, 91, 0.8); */
  font-size: 1.6rem;

}

input, button {
  border: none;
  padding: 1.6rem;
}

input {
  background: #DCE2E9;
  border-radius: .4rem 0rem 0rem .4rem;
  width: 5rem;

}

h2 {
  margin-bottom: 3.3rem;
  font-weight: normal;
  font-size: 2.4rem;
}

.screentwo button {
  border-radius: .4rem;
  font-weight: bold;
  font-size: 1.6rem;
}
